# Search embedding

## Load dataset

In [58]:
# Here we store constant varables with path to our datasets
# SEARCH_DATA_INDEX_PATH = "../../datasets" #"../../datasets/metadata_for_search"
# MODEL_PATH = "../../models/"

# SEARCH_DATA_PATH = "../../datasets"
# Here we store constant varables with path to our datasets
SEARCH_DATA_INDEX_PATH = "../../datasets/processed_datasets"
MODEL_PATH = "../../models/"

SEARCH_DATA_PATH = "../../datasets"

#### load search data from kaggle

In [59]:
import pandas as pd
# here we load metadata (related to source of dataset)
data_vote = pd.read_json(SEARCH_DATA_PATH+"/search_dataset_vote.json")
data_active = pd.read_json(SEARCH_DATA_PATH+"/search_dataset_active.json")
data_hot = pd.read_json(SEARCH_DATA_PATH+"/search_dataset_hot.json")

# here we load datasets (texts)
search_data_index_hot = pd.read_csv(SEARCH_DATA_INDEX_PATH+"/metadata-for-search-info-hottest-rating.csv")
search_data_index_vote = pd.read_csv(SEARCH_DATA_INDEX_PATH+"/metadata-for-search-info.csv")
search_data_index_active = pd.read_csv(SEARCH_DATA_INDEX_PATH+"/metadata-for-search-info-active-rating.csv")

In [60]:
search_data_index_hot['id'] = search_data_index_hot.index
search_data_index_vote['id'] = search_data_index_vote.index
search_data_index_active['id'] = search_data_index_active.index

In [61]:
data_hot

,path,id,title,subtitle,description,keywords,titleNullable,subtitleNullable,descriptionNullable,text
0,../datasets/raw_datasets/metadata-for-search/o...,0,Top 10000 Popular Movies Dataset,Top 10000 Popular movies based on TMDB ratings,### Context\n\nRecommendation systems are used...,"[arts and entertainment, movies and tv shows, ...",Top 10000 Popular Movies Dataset,Top 10000 Popular movies based on TMDB ratings,### Context\n\nRecommendation systems are used...,Top 10000 Popular Movies Dataset Top 10000 Po...
1,../datasets/raw_datasets/metadata-for-search/r...,1,IMDB Top 1000 Movies Dataset,"""Release Year, Duration, Ratings, Metascores, ...",This dataset provides comprehensive informatio...,[movies and tv shows],IMDB Top 1000 Movies Dataset,"""Release Year, Duration, Ratings, Metascores, ...",This dataset provides comprehensive informatio...,"IMDB Top 1000 Movies Dataset ""Release Year, D..."
2,../datasets/raw_datasets/metadata-for-search/i...,2,Top 1000 IMDb Movies Dataset,Discover the Greatest Movies of All Time - IMD...,"Welcome to the ""Top 1000 IMDb Movies Dataset"" ...",[movies and tv shows],Top 1000 IMDb Movies Dataset,Discover the Greatest Movies of All Time - IMD...,"Welcome to the ""Top 1000 IMDb Movies Dataset"" ...",Top 1000 IMDb Movies Dataset Discover the Gre...
3,../datasets/raw_datasets/metadata-for-search/u...,3,Top Rated 10000 Movies Dataset (IMDB),In this dataset the top movies data is given b...,\nIn this dataset all time top movies data is...,[movies and tv shows],Top Rated 10000 Movies Dataset (IMDB),In this dataset the top movies data is given b...,\nIn this dataset all time top movies data is...,Top Rated 10000 Movies Dataset (IMDB) In this...
4,../datasets/raw_datasets/metadata-for-search/s...,4,Top 1000 Highest Grossing Movies,Top 1000 Highest Grossing Holywood Movies,Context\nThis dataset contains information abo...,"[movies and tv shows, beginner, intermediate, ...",Top 1000 Highest Grossing Movies,Top 1000 Highest Grossing Holywood Movies,Context\nThis dataset contains information abo...,Top 1000 Highest Grossing Movies Top 1000 Hig...
...,...,...,...,...,...,...,...,...,...,...
684,../datasets/raw_datasets/metadata-for-search/n...,685,Scene Classification,Contains ~25K images from a wide range of natu...,This dataset contains about ~25k images from a...,"[movies and tv shows, computer vision, classif...",Scene Classification,Contains ~25K images from a wide range of natu...,This dataset contains about ~25k images from a...,Scene Classification Contains ~25K images fro...
685,../datasets/raw_datasets/metadata-for-search/m...,686,Plants Classification,30 Types of Plants Image Classification,The dataset contains 30 types of plants images...,"[biology, classification, image]",Plants Classification,30 Types of Plants Image Classification,The dataset contains 30 types of plants images...,Plants Classification 30 Types of Plants Imag...
686,../datasets/raw_datasets/metadata-for-search/m...,687,Flower Classification,14 Types of Flower Image Classification,The dataset contains 14 types of flower images...,"[classification, image, chinese]",Flower Classification,14 Types of Flower Image Classification,The dataset contains 14 types of flower images...,Flower Classification 14 Types of Flower Imag...
687,../datasets/raw_datasets/metadata-for-search/g...,688,BIRDS 525 SPECIES- IMAGE CLASSIFICATION,"525 species, 84635 train, 2625 test, 2625 vali...",This version of the dataset adds 10 new specie...,"[biology, computer vision, classification, cnn...",BIRDS 525 SPECIES- IMAGE CLASSIFICATION,"525 species, 84635 train, 2625 test, 2625 vali...",This version of the dataset adds 10 new specie...,BIRDS 525 SPECIES- IMAGE CLASSIFICATION 525 ...
688,../datasets/raw_datasets/metadata-for-search/s...,689,Brain Tumor Classification (MRI),Classify MRI images into four classes,# Contribute to OpenSource\n##Repo: [GitHub](h...,"[health, medicine, classification, health cond...",Brain Tumor Classification (MRI),Classify MRI images into four classes,# Contribute to OpenSource\n##Repo: [GitHub](h...,Brain Tumor Classification (MRI) Classify MRI...

In [62]:
len(data_hot)

689

In [63]:
data_hot['id'], data_hot['text']

(0        0
 1        1
 2        2
 3        3
 4        4
       ...
 684    685
 685    686
 686    687
 687    688
 688    689
 Name: id, Length: 689, dtype: int64,
 0       Top 10000 Popular Movies Dataset Top 10000 Po...
 1       IMDB Top 1000 Movies Dataset "Release Year, D...
 2       Top 1000 IMDb Movies Dataset Discover the Gre...
 3       Top Rated 10000 Movies Dataset (IMDB) In this...
 4       Top 1000 Highest Grossing Movies Top 1000 Hig...
                              ...
 684     Scene Classification Contains ~25K images fro...
 685     Plants Classification 30 Types of Plants Imag...
 686     Flower Classification 14 Types of Flower Imag...
 687     BIRDS 525  SPECIES- IMAGE CLASSIFICATION 525 ...
 688     Brain Tumor Classification (MRI) Classify MRI...
 Name: text, Length: 689, dtype: object)

In [64]:
queries = search_data_index_vote['query name'].unique()

#### load dataset for traning

In [65]:
from datasets import Dataset, DatasetDict
import pandas as pd
dataset = Dataset.from_pandas(pd.DataFrame(data_hot))

In [66]:
search_data_index_hot

,query name,rating_hottest,path to metadata,id
0,Top 1000 Movies Dataset,1,omkarborikar/top-10000-popular-movies,0
1,Top 1000 Movies Dataset,2,ritiksharma07/imdb-top-1000-movies-dataset,1
2,Top 1000 Movies Dataset,3,inductiveanks/top-1000-imdb-movies-dataset,2
3,Top 1000 Movies Dataset,4,umangdobariya1436/top-rated-movies-dataset,3
4,Top 1000 Movies Dataset,5,sanjeetsinghnaik/top-1000-highest-grossing-movies,4
...,...,...,...,...
685,classification,16,nitishabharathi/scene-classification,685
686,classification,17,marquis03/plants-classification,686
687,classification,18,marquis03/flower-classification,687
688,classification,19,gpiosenka/100-bird-species,688
689,classification,20,sartajbhuvaji/brain-tumor-classification-mri,689

In [67]:
search_data_index_hot.index

RangeIndex(start=0, stop=690, step=1)

In [72]:
result1 = pd.merge(data_hot, search_data_index_hot, how="left", on=["id", "id"])
result1['rating'] = result1['rating_hottest']

result2 = pd.merge(data_active, search_data_index_active, how="left", on=["id", "id"])
result2['rating'] = result2['rating_active']

result3 = pd.merge(data_vote, search_data_index_vote, how="left", on=["id", "id"])

result = pd.concat([result1,result2,result3])[['query name','text','rating']]
result = result[result['rating']<10]
result['score'] = 1/(result['rating']+1e-5)
result = result[['query name','text','score']]

result

,query name,text,score
0,Top 1000 Movies Dataset,Top 10000 Popular Movies Dataset Top 10000 Po...,0.999990
1,Top 1000 Movies Dataset,"IMDB Top 1000 Movies Dataset ""Release Year, D...",0.499998
2,Top 1000 Movies Dataset,Top 1000 IMDb Movies Dataset Discover the Gre...,0.333332
3,Top 1000 Movies Dataset,Top Rated 10000 Movies Dataset (IMDB) In this...,0.249999
4,Top 1000 Movies Dataset,Top 1000 Highest Grossing Movies Top 1000 Hig...,0.200000
...,...,...,...
1656,classification,Stroke Prediction Dataset 11 clinical feature...,0.200000
1657,classification,Fruits-360 dataset A dataset with 90380 image...,0.166666
1658,classification,Red Wine Quality Simple and clean practice da...,0.142857
1659,classification,"Fashion MNIST An MNIST-like dataset of 70,000...",0.125000
1660,classification,Heart Failure Prediction Dataset 11 clinical ...,0.111111

In [74]:
dataset = Dataset.from_pandas(result)

## Models

In [2]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer("BAAI/bge-base-en-v1.5")

/home/danil/Text_search_with_LLM/sample/lib/python3.10/site-packages/sentence_transformers/cross_encoder/CrossEncoder.py:11: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

modules.json:   0%|          | 0.00/349 [00:00<?, ?B/s]

config_sentence_transformers.json:   0%|          | 0.00/124 [00:00<?, ?B/s]

README.md:   0%|          | 0.00/94.6k [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/52.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/777 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/438M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/366 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/711k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/125 [00:00<?, ?B/s]

1_Pooling/config.json:   0%|          | 0.00/190 [00:00<?, ?B/s]

In [76]:
from datasets import load_dataset
from sentence_transformers import SentenceTransformer
from sentence_transformers.losses import CoSENTLoss

# Load a model to train/finetune
model = SentenceTransformer("BAAI/bge-base-en-v1.5")

# Initialize the CoSENTLoss
# This loss requires pairs of text and a floating point similarity score as a label
loss = CoSENTLoss(model)

In [79]:
from sentence_transformers.training_args import SentenceTransformerTrainingArguments
from sentence_transformers.losses import MultipleNegativesRankingLoss
from sentence_transformers.training_args import BatchSamplers
from sentence_transformers.evaluation import TripletEvaluator

args = SentenceTransformerTrainingArguments(
    # Required parameter:
    output_dir="models/trained",
    # Optional training parameters:
    num_train_epochs=1,
    per_device_train_batch_size=16,
    per_device_eval_batch_size=16,
    warmup_ratio=0.1,
    fp16=True,  # Set to False if your GPU can't handle FP16
    bf16=False,  # Set to True if your GPU supports BF16
    # batch_sampler=BatchSamplers.NO_DUPLICATES,  # Losses using "in-batch negatives" benefit from no duplicates
    # Optional tracking/debugging parameters:
    eval_strategy="steps",
    eval_steps=100,
    save_strategy="steps",
    save_steps=100,
    save_total_limit=2,
    logging_steps=100
)

In [90]:
dataset = dataset.remove_columns("__index_level_0__")

In [91]:
dataset

Dataset({
    features: ['query name', 'text', 'score'],
    num_rows: 993
})

In [95]:
from sentence_transformers import (
    SentenceTransformer,
    SentenceTransformerTrainer)
trainer = SentenceTransformerTrainer(
    model=model,
    args=args,
    train_dataset=dataset,
    loss=loss,
)
trainer.train()

TrainOutput(global_step=63, training_loss=4.573123023623512, metrics={'train_runtime': 17.977, 'train_samples_per_second': 55.237, 'train_steps_per_second': 3.504, 'total_flos': 0.0, 'train_loss': 4.573123023623512, 'epoch': 1.0})

In [ ]:
model

### Inference batching utils

In [93]:
# this function return batches of our datasets
def iterate_batch(dataset,batch_size=128):
    for i in range(0,len(dataset),batch_size):
        yield dataset[i:i+batch_size]

In [94]:
iterate_batch([1,2,3,4,5,6,7,8,9,10],3)

In [11]:
import torch
from typing import Optional, cast

import numpy as np
import numpy.typing as npt
from chromadb.api.types import EmbeddingFunction, Documents, Embeddings

from torch import Tensor
from transformers import AutoTokenizer, AutoModel


class TransformerEmbeddingFunction_BGE(EmbeddingFunction[Documents]):    
    """
    The TransformerEmbeddingFunction_Qween class is an embedding function
    that uses a pre-trained transformer model to generate embeddings for a
    given set of documents. It is designed to work with the ChromaDB
    library for building vector search engines.
    """
    def __init__(self):
        """
        Load a pre-trained tokenizer and model from the 'Alibaba-NLP/gte-Qwen2-7B-instruct' model
        checkpoint
        It also sets the max_length parameter, which is the maximum length of input sequences
        that the model can handle.
        """
        self.model = model
        self.model = self.model.to(device)
        self.model.eval()
        
        self.max_length = 8192
        return
    def __call__(self, input: Documents) -> Embeddings:
        """
        The __call__ method is the main entry point for generating embeddings. It takes a list of documents as input and returns a list of embeddings.
        It first defines a helper function called last_token_pool that extracts the embedding of the last token from the model's output. This is done by checking if the input sequence has left padding and selecting the appropriate token index.
        The input documents are tokenized using the tokenizer and passed through the model to obtain the last hidden states.
        The last_token_pool function is applied to the last hidden states to extract the final embeddings.
        The embeddings are converted to a list and returned.
        """
        embeddings = model.encode(input)
        
        return embeddings.tolist()

### Load vector database for kaggle

In [12]:
device = 'cuda'
model_embed = TransformerEmbeddingFunction_BGE()

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

Loading checkpoint shards:   0%|          | 0/7 [00:00<?, ?it/s]

In [13]:
all_results_hot = []
all_results_vote = []
all_results_active = []

In [14]:
metrics = {}

In [15]:
model_name = "qween"

In [16]:
load_time = 0
search_time = 0

In [17]:
# client.delete_collection("seach_db_vote")
# client.delete_collection("seach_db_active")
# client.delete_collection("seach_db_hot")

In [18]:
import chromadb
client = chromadb.Client()

In [19]:
import chromadb
import time

metrics[model_name] = {"active":{},"vote":{},"hot":{}}

client = chromadb.Client()

collection_vote = client.create_collection("seach_db_vote",get_or_create=False,embedding_function=model_embed)
collection_active = client.create_collection("seach_db_active",get_or_create=False,embedding_function=model_embed)
collection_hot = client.create_collection("seach_db_hot",get_or_create=False,embedding_function=model_embed)
# collection = client.create_collection("test_seach_fb",embedding_function,get_or_create=True)

# load
load_time = time.time()
collection_vote.add(
    documents=list(data_vote['text']),
    ids=[str(i) for i in data_vote['id']]
)
load_time = time.time() - load_time
metrics[model_name]['vote']['load_time'] = load_time

load_time = time.time()
collection_active.add(
    documents=list(data_active['text']),
    ids=[str(i) for i in data_active['id']]
)
load_time = time.time() - load_time
metrics[model_name]['active']['load_time'] = load_time

load_time = time.time()
collection_hot.add(
    documents=list(data_hot['text']),
    ids=[str(i) for i in data_hot['id']]
)
load_time = time.time() - load_time
metrics[model_name]['hot']['load_time'] = load_time

In [20]:
search_time = time.time()
queries = list(search_data_index_vote['query name'].unique())
queries = model_embed.preprocess_query(queries)
results_vote = collection_vote.query(
    query_texts=queries, # Chroma will embed this for you
    n_results=40 # how many results to return
)
search_time = time.time() - search_time
metrics[model_name]['vote']['search_time'] = search_time

search_time = time.time()
queries = list(search_data_index_hot['query name'].unique())
queries = model_embed.preprocess_query(queries)
results_hot = collection_hot.query(
    query_texts=queries, # Chroma will embed this for you
    n_results=40 # how many results to return
)
search_time = time.time() - search_time
metrics[model_name]['hot']['search_time'] = search_time

search_time = time.time()
queries = list(search_data_index_active['query name'].unique())
queries = model_embed.preprocess_query(queries)
results_active = collection_active.query(
    query_texts=queries, # Chroma will embed this for you
    n_results=40 # how many results to return
)
search_time = time.time() - search_time
metrics[model_name]['active']['search_time'] = search_time

client.delete_collection("seach_db_vote")
client.delete_collection("seach_db_active")
client.delete_collection("seach_db_hot")

In [21]:
ask_dataset1

DatasetDict({
    test: Dataset({
        features: ['query', 'positive', 'negative', 'responce', 'target'],
        num_rows: 375
    })
})

## Evaluation

In [23]:
import sys
sys.path.insert(0, '../../scripts/')

In [ ]:
from evaluation import evaluate_algs

In [27]:
metrics[model_name]['vote']['metrics'] = evaluate_algs(results_vote,search_data_index_vote,column_name='rating')
metrics[model_name]['active']['metrics'] = evaluate_algs(results_active,search_data_index_active,column_name='rating_active')
metrics[model_name]['hot']['metrics'] = evaluate_algs(results_hot,search_data_index_hot,column_name='rating_hottest')

/home/danil/Text_search_with_LLM/sample/lib/python3.10/site-packages/ranx/metrics/recall.py:29: NumbaTypeSafetyWarning: unsafe cast from uint64 to int64. Precision may be lost.
  scores[i] = _recall(qrels[i], run[i], k, rel_lvl)

In [28]:
metrics[model_name]['vote']['metrics']

{'recall@10': 0.2288268800739379,
 'precision@10': 0.5782608695652174,
 'hits@10': 5.782608695652174,
 'map@10': 0.18642717258326347,
 'mrr@10': 0.7815217391304349,
 'ndcg@10': 0.390860835402863,
 'recall@40': 0.5568091062932357,
 'precision@40': 0.46141304347826095,
 'hits@40': 18.456521739130434,
 'map@40': 0.40018413730541147,
 'mrr@40': 0.7826659038901601,
 'ndcg@40': 0.48348643757160337}

In [29]:
metrics[model_name]['active']['metrics']

{'recall@10': 0.537359022556391,
 'precision@10': 0.531578947368421,
 'hits@10': 5.315789473684211,
 'map@10': 0.42852861319966573,
 'mrr@10': 0.7907894736842105,
 'ndcg@10': 0.5269621411880194,
 'recall@40': 0.8498746867167922,
 'precision@40': 0.2513157894736842,
 'hits@40': 10.052631578947368,
 'map@40': 0.6052456815282098,
 'mrr@40': 0.7953748006379586,
 'ndcg@40': 0.6456429264912914}

In [30]:
metrics[model_name]['hot']['metrics']

{'recall@10': 0.4683898803216984,
 'precision@10': 0.6249999999999999,
 'hits@10': 6.25,
 'map@10': 0.3976503272160739,
 'mrr@10': 0.8358585858585859,
 'ndcg@10': 0.44386353572764725,
 'recall@40': 0.8556416437098256,
 'precision@40': 0.32784090909090907,
 'hits@40': 13.113636363636363,
 'map@40': 0.6334733570628028,
 'mrr@40': 0.8369408369408369,
 'ndcg@40': 0.6110369817475614}