# Search embedding

## Load dataset

In [5]:
# Here we store constant varables with path to our datasets
# SEARCH_DATA_INDEX_PATH = "../../datasets" #"../../datasets/metadata_for_search"
# MODEL_PATH = "../../models/"

# SEARCH_DATA_PATH = "../../datasets"
# Here we store constant varables with path to our datasets
SEARCH_DATA_INDEX_PATH = "../../datasets/processed_datasets"
MODEL_PATH = "../../models/"

SEARCH_DATA_PATH = "../../datasets"

#### load search data from kaggle

In [27]:
import pandas as pd
# here we load metadata (related to source of dataset)
data_vote = pd.read_json(SEARCH_DATA_PATH+"/search_dataset_vote.json")
data_active = pd.read_json(SEARCH_DATA_PATH+"/search_dataset_active.json")
data_hot = pd.read_json(SEARCH_DATA_PATH+"/search_dataset_hot.json")

# here we load datasets (texts)
search_data_index_hot = pd.read_csv(SEARCH_DATA_INDEX_PATH+"/metadata-for-search-info-hottest-rating.csv")
search_data_index_vote = pd.read_csv(SEARCH_DATA_INDEX_PATH+"/metadata-for-search-info.csv")
search_data_index_active = pd.read_csv(SEARCH_DATA_INDEX_PATH+"/metadata-for-search-info-active-rating.csv")

In [28]:
search_data_index_hot['id'] = search_data_index_hot.index
search_data_index_vote['id'] = search_data_index_vote.index
search_data_index_active['id'] = search_data_index_active.index

In [3]:
data_hot

,path,id,title,subtitle,description,keywords,titleNullable,subtitleNullable,descriptionNullable,text
0,../datasets/raw_datasets/metadata-for-search/o...,0,Top 10000 Popular Movies Dataset,Top 10000 Popular movies based on TMDB ratings,### Context\n\nRecommendation systems are used...,"[arts and entertainment, movies and tv shows, ...",Top 10000 Popular Movies Dataset,Top 10000 Popular movies based on TMDB ratings,### Context\n\nRecommendation systems are used...,Top 10000 Popular Movies Dataset Top 10000 Po...
1,../datasets/raw_datasets/metadata-for-search/r...,1,IMDB Top 1000 Movies Dataset,"""Release Year, Duration, Ratings, Metascores, ...",This dataset provides comprehensive informatio...,[movies and tv shows],IMDB Top 1000 Movies Dataset,"""Release Year, Duration, Ratings, Metascores, ...",This dataset provides comprehensive informatio...,"IMDB Top 1000 Movies Dataset ""Release Year, D..."
2,../datasets/raw_datasets/metadata-for-search/i...,2,Top 1000 IMDb Movies Dataset,Discover the Greatest Movies of All Time - IMD...,"Welcome to the ""Top 1000 IMDb Movies Dataset"" ...",[movies and tv shows],Top 1000 IMDb Movies Dataset,Discover the Greatest Movies of All Time - IMD...,"Welcome to the ""Top 1000 IMDb Movies Dataset"" ...",Top 1000 IMDb Movies Dataset Discover the Gre...
3,../datasets/raw_datasets/metadata-for-search/u...,3,Top Rated 10000 Movies Dataset (IMDB),In this dataset the top movies data is given b...,\nIn this dataset all time top movies data is...,[movies and tv shows],Top Rated 10000 Movies Dataset (IMDB),In this dataset the top movies data is given b...,\nIn this dataset all time top movies data is...,Top Rated 10000 Movies Dataset (IMDB) In this...
4,../datasets/raw_datasets/metadata-for-search/s...,4,Top 1000 Highest Grossing Movies,Top 1000 Highest Grossing Holywood Movies,Context\nThis dataset contains information abo...,"[movies and tv shows, beginner, intermediate, ...",Top 1000 Highest Grossing Movies,Top 1000 Highest Grossing Holywood Movies,Context\nThis dataset contains information abo...,Top 1000 Highest Grossing Movies Top 1000 Hig...
...,...,...,...,...,...,...,...,...,...,...
684,../datasets/raw_datasets/metadata-for-search/n...,685,Scene Classification,Contains ~25K images from a wide range of natu...,This dataset contains about ~25k images from a...,"[movies and tv shows, computer vision, classif...",Scene Classification,Contains ~25K images from a wide range of natu...,This dataset contains about ~25k images from a...,Scene Classification Contains ~25K images fro...
685,../datasets/raw_datasets/metadata-for-search/m...,686,Plants Classification,30 Types of Plants Image Classification,The dataset contains 30 types of plants images...,"[biology, classification, image]",Plants Classification,30 Types of Plants Image Classification,The dataset contains 30 types of plants images...,Plants Classification 30 Types of Plants Imag...
686,../datasets/raw_datasets/metadata-for-search/m...,687,Flower Classification,14 Types of Flower Image Classification,The dataset contains 14 types of flower images...,"[classification, image, chinese]",Flower Classification,14 Types of Flower Image Classification,The dataset contains 14 types of flower images...,Flower Classification 14 Types of Flower Imag...
687,../datasets/raw_datasets/metadata-for-search/g...,688,BIRDS 525 SPECIES- IMAGE CLASSIFICATION,"525 species, 84635 train, 2625 test, 2625 vali...",This version of the dataset adds 10 new specie...,"[biology, computer vision, classification, cnn...",BIRDS 525 SPECIES- IMAGE CLASSIFICATION,"525 species, 84635 train, 2625 test, 2625 vali...",This version of the dataset adds 10 new specie...,BIRDS 525 SPECIES- IMAGE CLASSIFICATION 525 ...
688,../datasets/raw_datasets/metadata-for-search/s...,689,Brain Tumor Classification (MRI),Classify MRI images into four classes,# Contribute to OpenSource\n##Repo: [GitHub](h...,"[health, medicine, classification, health cond...",Brain Tumor Classification (MRI),Classify MRI images into four classes,# Contribute to OpenSource\n##Repo: [GitHub](h...,Brain Tumor Classification (MRI) Classify MRI...

In [4]:
len(data_hot)

NameError: name 'data_hot' is not defined

In [7]:
data_hot['id'], data_hot['text']

(0        0
 1        1
 2        2
 3        3
 4        4
       ...
 684    685
 685    686
 686    687
 687    688
 688    689
 Name: id, Length: 689, dtype: int64,
 0       Top 10000 Popular Movies Dataset Top 10000 Po...
 1       IMDB Top 1000 Movies Dataset "Release Year, D...
 2       Top 1000 IMDb Movies Dataset Discover the Gre...
 3       Top Rated 10000 Movies Dataset (IMDB) In this...
 4       Top 1000 Highest Grossing Movies Top 1000 Hig...
                              ...
 684     Scene Classification Contains ~25K images fro...
 685     Plants Classification 30 Types of Plants Imag...
 686     Flower Classification 14 Types of Flower Imag...
 687     BIRDS 525  SPECIES- IMAGE CLASSIFICATION 525 ...
 688     Brain Tumor Classification (MRI) Classify MRI...
 Name: text, Length: 689, dtype: object)

In [5]:
queries = search_data_index_vote['query name'].unique()

#### load dataset for traning

In [14]:
from datasets import Dataset, DatasetDict
import pandas as pd
dataset = Dataset.from_pandas(pd.DataFrame(data_hot))

In [17]:
search_data_index_hot

,query name,rating_hottest,path to metadata
0,Top 1000 Movies Dataset,1,omkarborikar/top-10000-popular-movies
1,Top 1000 Movies Dataset,2,ritiksharma07/imdb-top-1000-movies-dataset
2,Top 1000 Movies Dataset,3,inductiveanks/top-1000-imdb-movies-dataset
3,Top 1000 Movies Dataset,4,umangdobariya1436/top-rated-movies-dataset
4,Top 1000 Movies Dataset,5,sanjeetsinghnaik/top-1000-highest-grossing-movies
...,...,...,...
685,classification,16,nitishabharathi/scene-classification
686,classification,17,marquis03/plants-classification
687,classification,18,marquis03/flower-classification
688,classification,19,gpiosenka/100-bird-species
689,classification,20,sartajbhuvaji/brain-tumor-classification-mri

In [19]:
search_data_index_hot.index

Index(['query name', 'rating_hottest', 'path to metadata'], dtype='object')

In [31]:
result1 = pd.merge(data_hot, search_data_index_hot, how="left", on=["id", "id"])
result2 = pd.merge(data_active, search_data_index_active, how="left", on=["id", "id"])
result3 = pd.merge(data_vote, search_data_index_vote, how="left", on=["id", "id"])

result = pd.concat([result1,result2,result3])

,path,id,title,subtitle,description,keywords,titleNullable,subtitleNullable,descriptionNullable,text,query name,rating_hottest,path to metadata,rating_active,rating
0,../datasets/raw_datasets/metadata-for-search/o...,0,Top 10000 Popular Movies Dataset,Top 10000 Popular movies based on TMDB ratings,### Context\n\nRecommendation systems are used...,"[arts and entertainment, movies and tv shows, ...",Top 10000 Popular Movies Dataset,Top 10000 Popular movies based on TMDB ratings,### Context\n\nRecommendation systems are used...,Top 10000 Popular Movies Dataset Top 10000 Po...,Top 1000 Movies Dataset,1.0,omkarborikar/top-10000-popular-movies,NaN,NaN
1,../datasets/raw_datasets/metadata-for-search/r...,1,IMDB Top 1000 Movies Dataset,"""Release Year, Duration, Ratings, Metascores, ...",This dataset provides comprehensive informatio...,[movies and tv shows],IMDB Top 1000 Movies Dataset,"""Release Year, Duration, Ratings, Metascores, ...",This dataset provides comprehensive informatio...,"IMDB Top 1000 Movies Dataset ""Release Year, D...",Top 1000 Movies Dataset,2.0,ritiksharma07/imdb-top-1000-movies-dataset,NaN,NaN
2,../datasets/raw_datasets/metadata-for-search/i...,2,Top 1000 IMDb Movies Dataset,Discover the Greatest Movies of All Time - IMD...,"Welcome to the ""Top 1000 IMDb Movies Dataset"" ...",[movies and tv shows],Top 1000 IMDb Movies Dataset,Discover the Greatest Movies of All Time - IMD...,"Welcome to the ""Top 1000 IMDb Movies Dataset"" ...",Top 1000 IMDb Movies Dataset Discover the Gre...,Top 1000 Movies Dataset,3.0,inductiveanks/top-1000-imdb-movies-dataset,NaN,NaN
3,../datasets/raw_datasets/metadata-for-search/u...,3,Top Rated 10000 Movies Dataset (IMDB),In this dataset the top movies data is given b...,\nIn this dataset all time top movies data is...,[movies and tv shows],Top Rated 10000 Movies Dataset (IMDB),In this dataset the top movies data is given b...,\nIn this dataset all time top movies data is...,Top Rated 10000 Movies Dataset (IMDB) In this...,Top 1000 Movies Dataset,4.0,umangdobariya1436/top-rated-movies-dataset,NaN,NaN
4,../datasets/raw_datasets/metadata-for-search/s...,4,Top 1000 Highest Grossing Movies,Top 1000 Highest Grossing Holywood Movies,Context\nThis dataset contains information abo...,"[movies and tv shows, beginner, intermediate, ...",Top 1000 Highest Grossing Movies,Top 1000 Highest Grossing Holywood Movies,Context\nThis dataset contains information abo...,Top 1000 Highest Grossing Movies Top 1000 Hig...,Top 1000 Movies Dataset,5.0,sanjeetsinghnaik/top-1000-highest-grossing-movies,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,../datasets/raw_datasets/metadata-for-search/t...,1704,Airline Passenger Satisfaction,What factors lead to customer satisfaction for...,# **Context**\nThis dataset contains an airlin...,"[classification, clustering, tabular, binary c...",Airline Passenger Satisfaction,What factors lead to customer satisfaction for...,# **Context**\nThis dataset contains an airlin...,Airline Passenger Satisfaction What factors l...,classification,NaN,teejmahal20/airline-passenger-satisfaction,NaN,51.0
1703,../datasets/raw_datasets/metadata-for-search/a...,1705,Sign Language Digits Dataset,Turkey Ankara Ayrancı Anadolu High School's Si...,### Context\n\nSign languages (also known as s...,"[languages, education, image, primary and seco...",Sign Language Digits Dataset,Turkey Ankara Ayrancı Anadolu High School's Si...,### Context\n\nSign languages (also known as s...,Sign Language Digits Dataset Turkey Ankara Ay...,classification,NaN,ardamavi/sign-language-digits-dataset,NaN,52.0
1704,../datasets/raw_datasets/metadata-for-search/a...,1706,Animals-10,Animal pictures of 10 different categories tak...,Hello everyone! \n\nThis is the dataset I have...,"[categorical, animals, computer vision, classi...",Animals-10,Animal pictures of 10 different categories tak...,Hello everyone! \n\nThis is the dataset I have...,Animals-10 Animal pictures of 10 different ca...,classification,NaN,alessiocorrado99/animals10,NaN,53.0
1705,../datasets/raw_datasets/metadata-for-search/p...,1707,Blood Cell Images,"12,500 images: 4 different cell types",### Context\n\nThe diagnosis of blood-based di...,"[biology, medicine, classification, image, hea...",Blood Cell Images,"12,500 images: 4 different cell types",### Context\n\nThe diagnosis of blood-based di...,"Blood Cell Images 12,500 images: 4 different ...",classification,NaN,paultimothymooney/blood-cells,NaN,54.0
1706,../datasets/raw_datasets/metadata-for-search/k...,1708,Indicators of Heart Disease (2022 UPDATE),2022 annual CDC survey data of 400k+ adults re...,# Key Indicators of Heart Disease\n## 2022 ann...,"[healthcare, health, data visualization, data ...",Indicators of Heart Disease (2022 UPDATE),2022 annual CDC survey data of 400k+ adults re...,# Key Indicators of Heart Disease\n## 2022 ann...,Indicators of Heart Disease (2022 UPDATE) 202...,classification,NaN,kamilpytlak/personal-key-indicators-of-heart-d...,NaN,55.0

In [30]:
result

,path,id,title,subtitle,description,keywords,titleNullable,subtitleNullable,descriptionNullable,text,query name,rating_hottest,path to metadata
0,../datasets/raw_datasets/metadata-for-search/o...,0,Top 10000 Popular Movies Dataset,Top 10000 Popular movies based on TMDB ratings,### Context\n\nRecommendation systems are used...,"[arts and entertainment, movies and tv shows, ...",Top 10000 Popular Movies Dataset,Top 10000 Popular movies based on TMDB ratings,### Context\n\nRecommendation systems are used...,Top 10000 Popular Movies Dataset Top 10000 Po...,Top 1000 Movies Dataset,1,omkarborikar/top-10000-popular-movies
1,../datasets/raw_datasets/metadata-for-search/r...,1,IMDB Top 1000 Movies Dataset,"""Release Year, Duration, Ratings, Metascores, ...",This dataset provides comprehensive informatio...,[movies and tv shows],IMDB Top 1000 Movies Dataset,"""Release Year, Duration, Ratings, Metascores, ...",This dataset provides comprehensive informatio...,"IMDB Top 1000 Movies Dataset ""Release Year, D...",Top 1000 Movies Dataset,2,ritiksharma07/imdb-top-1000-movies-dataset
2,../datasets/raw_datasets/metadata-for-search/i...,2,Top 1000 IMDb Movies Dataset,Discover the Greatest Movies of All Time - IMD...,"Welcome to the ""Top 1000 IMDb Movies Dataset"" ...",[movies and tv shows],Top 1000 IMDb Movies Dataset,Discover the Greatest Movies of All Time - IMD...,"Welcome to the ""Top 1000 IMDb Movies Dataset"" ...",Top 1000 IMDb Movies Dataset Discover the Gre...,Top 1000 Movies Dataset,3,inductiveanks/top-1000-imdb-movies-dataset
3,../datasets/raw_datasets/metadata-for-search/u...,3,Top Rated 10000 Movies Dataset (IMDB),In this dataset the top movies data is given b...,\nIn this dataset all time top movies data is...,[movies and tv shows],Top Rated 10000 Movies Dataset (IMDB),In this dataset the top movies data is given b...,\nIn this dataset all time top movies data is...,Top Rated 10000 Movies Dataset (IMDB) In this...,Top 1000 Movies Dataset,4,umangdobariya1436/top-rated-movies-dataset
4,../datasets/raw_datasets/metadata-for-search/s...,4,Top 1000 Highest Grossing Movies,Top 1000 Highest Grossing Holywood Movies,Context\nThis dataset contains information abo...,"[movies and tv shows, beginner, intermediate, ...",Top 1000 Highest Grossing Movies,Top 1000 Highest Grossing Holywood Movies,Context\nThis dataset contains information abo...,Top 1000 Highest Grossing Movies Top 1000 Hig...,Top 1000 Movies Dataset,5,sanjeetsinghnaik/top-1000-highest-grossing-movies
...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,../datasets/raw_datasets/metadata-for-search/n...,685,Scene Classification,Contains ~25K images from a wide range of natu...,This dataset contains about ~25k images from a...,"[movies and tv shows, computer vision, classif...",Scene Classification,Contains ~25K images from a wide range of natu...,This dataset contains about ~25k images from a...,Scene Classification Contains ~25K images fro...,classification,16,nitishabharathi/scene-classification
685,../datasets/raw_datasets/metadata-for-search/m...,686,Plants Classification,30 Types of Plants Image Classification,The dataset contains 30 types of plants images...,"[biology, classification, image]",Plants Classification,30 Types of Plants Image Classification,The dataset contains 30 types of plants images...,Plants Classification 30 Types of Plants Imag...,classification,17,marquis03/plants-classification
686,../datasets/raw_datasets/metadata-for-search/m...,687,Flower Classification,14 Types of Flower Image Classification,The dataset contains 14 types of flower images...,"[classification, image, chinese]",Flower Classification,14 Types of Flower Image Classification,The dataset contains 14 types of flower images...,Flower Classification 14 Types of Flower Imag...,classification,18,marquis03/flower-classification
687,../datasets/raw_datasets/metadata-for-search/g...,688,BIRDS 525 SPECIES- IMAGE CLASSIFICATION,"525 species, 84635 train, 2625 test, 2625 vali...",This version of the dataset adds 10 new specie...,"[biology, computer vision, classification, cnn...",BIRDS 525 SPECIES- IMAGE CLASSIFICATION,"525 species, 84635 train, 2625 test, 2625 vali...",This version of the dataset adds 10 new specie...,BIRDS 525 SPECIES- IMAGE CLASSIFICATION 525 ...,classification,19,gpiosenka/100-bird-species
688,../datasets/raw_datasets/metadata-for-search/s...,689,Brain Tumor Classification (MRI),Classify MRI images into four classes,# Contribute to OpenSource\n##Repo: [GitHub](h...,"[health, medicine, classification, health cond...",Brain Tumor Classification (MRI),Classify MRI images into four classes,# Contribute to OpenSource\n##Repo: [GitHub](h...,Brain Tumor Classification (MRI) Classify MRI...,classification,20,sartajbhuvaji/brain-tumor-classification-mri

In [26]:
result = result[['id','rating_hottest','text']]
result

      id  rating_hottest                                               text
0      0               1   Top 10000 Popular Movies Dataset Top 10000 Po...
1      1               2   IMDB Top 1000 Movies Dataset "Release Year, D...
2      2               3   Top 1000 IMDb Movies Dataset Discover the Gre...
3      3               4   Top Rated 10000 Movies Dataset (IMDB) In this...
4      4               5   Top 1000 Highest Grossing Movies Top 1000 Hig...
..   ...             ...                                                ...
684  685              16   Scene Classification Contains ~25K images fro...
685  686              17   Plants Classification 30 Types of Plants Imag...
686  687              18   Flower Classification 14 Types of Flower Imag...
687  688              19   BIRDS 525  SPECIES- IMAGE CLASSIFICATION 525 ...
688  689              20   Brain Tumor Classification (MRI) Classify MRI...

[689 rows x 3 columns]

In [8]:
def process_dataset(sample):
    sample['responce'] = sample['positive']+sample['negative']
    sample['target'] = list(range(len(sample['responce'])))
    return sample
ask_dataset1 = ask_dataset.map(process_dataset)

## Models

In [2]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer("BAAI/bge-base-en-v1.5")

/home/danil/Text_search_with_LLM/sample/lib/python3.10/site-packages/sentence_transformers/cross_encoder/CrossEncoder.py:11: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

modules.json:   0%|          | 0.00/349 [00:00<?, ?B/s]

config_sentence_transformers.json:   0%|          | 0.00/124 [00:00<?, ?B/s]

README.md:   0%|          | 0.00/94.6k [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/52.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/777 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/438M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/366 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/711k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/125 [00:00<?, ?B/s]

1_Pooling/config.json:   0%|          | 0.00/190 [00:00<?, ?B/s]

In [ ]:
from datasets import load_dataset
from sentence_transformers import SentenceTransformer
from sentence_transformers.losses import CoSENTLoss

# Load a model to train/finetune
model = SentenceTransformer("BAAI/bge-base-en-v1.5")

# Initialize the CoSENTLoss
# This loss requires pairs of text and a floating point similarity score as a label
loss = CoSENTLoss(model)

# Load an example training dataset that works with our loss function:
train_dataset = load_dataset("sentence-transformers/all-nli", "pair-score", split="train")
"""
Dataset({
    features: ['sentence1', 'sentence2', 'label'],
    num_rows: 942069
})
"""

In [ ]:
from sentence_transformers.training_args import SentenceTransformerTrainingArguments

args = SentenceTransformerTrainingArguments(
    # Required parameter:
    output_dir="models/mpnet-base-all-nli-triplet",
    # Optional training parameters:
    num_train_epochs=1,
    per_device_train_batch_size=16,
    per_device_eval_batch_size=16,
    warmup_ratio=0.1,
    fp16=True,  # Set to False if your GPU can't handle FP16
    bf16=False,  # Set to True if your GPU supports BF16
    batch_sampler=BatchSamplers.NO_DUPLICATES,  # Losses using "in-batch negatives" benefit from no duplicates
    # Optional tracking/debugging parameters:
    eval_strategy="steps",
    eval_steps=100,
    save_strategy="steps",
    save_steps=100,
    save_total_limit=2,
    logging_steps=100,
    run_name="mpnet-base-all-nli-triplet",  # Used in W&B if `wandb` is installed
)

### Inference batching utils

In [9]:
# this function return batches of our datasets
def iterate_batch(dataset,batch_size=128):
    for i in range(0,len(dataset),batch_size):
        yield dataset[i:i+batch_size]

In [10]:
iterate_batch([1,2,3,4,5,6,7,8,9,10],3)

In [ ]:
# !pip install "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
# !pip install --no-deps xformers "trl<0.9.0" peft accelerate bitsandbytes

In [1]:
from unsloth import FastLanguageModel
import torch
max_seq_length = 2048
dtype = None
load_in_4bit = True
fourbit_models = [
    "unsloth/Qwen2-0.5b-bnb-4bit",
]
model1, tokenizer1 = FastLanguageModel.from_pretrained(
    model_name = "unsloth/Qwen2-0.5B",
    max_seq_length = max_seq_length,
    dtype = dtype,
    load_in_4bit = load_in_4bit,
)

/home/danil/Text_search_with_LLM/peft/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

🦥 Unsloth: Will patch your computer to enable 2x faster free finetuning.
==((====))==  Unsloth: Fast Qwen2 patching release 2024.7
   \\   /|    GPU: NVIDIA A100 80GB PCIe. Max memory: 79.138 GB. Platform = Linux.
O^O/ \_/ \    Pytorch: 2.3.1+cu121. CUDA = 8.0. CUDA Toolkit = 12.1.
\        /    Bfloat16 = TRUE. FA [Xformers = 0.0.26.post1. FA2 = False]
 "-____-"     Free Apache license: http://github.com/unslothai/unsloth

unsloth/qwen2-0.5b-bnb-4bit does not have a padding token! Will use pad_token = <|PAD_TOKEN|>.

In [2]:
model1 = FastLanguageModel.get_peft_model(
    model1,
    r = 16,
    target_modules = ["q_proj", "k_proj", "v_proj", "o_proj",
                      "gate_proj", "up_proj", "down_proj",],
    lora_alpha = 16,
    lora_dropout = 0,
    bias = "none",
    use_gradient_checkpointing = "unsloth",
    random_state = 3407,
    use_rslora = False,
    loftq_config = None,
)

Unsloth 2024.7 patched 24 layers with 0 QKV layers, 24 O layers and 24 MLP layers.

In [4]:
alpaca_prompt = """Below is an instruction that describes a task, paired with an input that provides further context. Write a response that appropriately completes the request.
### Instruction:
{}
### Input:
{}
### Response:
{}"""
EOS_TOKEN = tokenizer1.eos_token # Must add EOS_TOKEN
def formatting_prompts_func(examples):
    instructions = examples["instruction"]
    inputs       = examples["input"]
    outputs      = examples["output"]
    texts = []
    for instruction, input, output in zip(instructions, inputs, outputs):
        text = alpaca_prompt.format(instruction, input, output) + EOS_TOKEN
        texts.append(text)
    return { "text" : texts, }

In [5]:
from datasets import load_dataset
dataset = load_dataset("yahma/alpaca-cleaned", split = "train")
dataset = dataset.map(formatting_prompts_func, batched = True,)

Downloading readme: 100%|██████████| 11.6k/11.6k [00:00<00:00, 10.2MB/s]
Downloading data: 100%|██████████| 44.3M/44.3M [00:01<00:00, 28.7MB/s]
Generating train split: 100%|██████████| 51760/51760 [00:00<00:00, 111364.89 examples/s]
Map: 100%|██████████| 51760/51760 [00:00<00:00, 87507.74 examples/s]

In [8]:
from trl import SFTTrainer
from transformers import TrainingArguments
from unsloth import is_bfloat16_supported
trainer = SFTTrainer(
    model = model1,
    tokenizer = tokenizer1,
    train_dataset = dataset,
    dataset_text_field = "text",
    max_seq_length = max_seq_length,
    dataset_num_proc = 2,
    args = TrainingArguments(
        per_device_train_batch_size = 2,
        gradient_accumulation_steps = 8,
        # Use num_train_epochs = 1, warmup_ratio for full training runs!
        warmup_steps = 20,
        max_steps = 120,
        learning_rate = 5e-5,
        fp16 = not is_bfloat16_supported(),
        bf16 = is_bfloat16_supported(),
        logging_steps = 1,
        optim = "adamw_8bit",
        weight_decay = 0.01,
        lr_scheduler_type = "linear",
        seed = 3407,
        output_dir = "outputs",
    ),
)

Map (num_proc=2): 100%|██████████| 51760/51760 [00:15<00:00, 3401.23 examples/s]
max_steps is given, it will override any value given in num_train_epochs

In [9]:
trainer_stats = trainer.train()

==((====))==  Unsloth - 2x faster free finetuning | Num GPUs = 1
   \\   /|    Num examples = 51,760 | Num Epochs = 1
O^O/ \_/ \    Batch size per device = 2 | Gradient Accumulation steps = 8
\        /    Total batch size = 16 | Total steps = 120
 "-____-"     Number of trainable parameters = 8,798,208

### qween

In [11]:
import torch
from typing import Optional, cast

import numpy as np
import numpy.typing as npt
from chromadb.api.types import EmbeddingFunction, Documents, Embeddings

from torch import Tensor
from transformers import AutoTokenizer, AutoModel


class TransformerEmbeddingFunction_Qween(EmbeddingFunction[Documents]):    
    """
    The TransformerEmbeddingFunction_Qween class is an embedding function
    that uses a pre-trained transformer model to generate embeddings for a
    given set of documents. It is designed to work with the ChromaDB
    library for building vector search engines.
    """
    def __init__(self):
        """
        Load a pre-trained tokenizer and model from the 'Alibaba-NLP/gte-Qwen2-7B-instruct' model
        checkpoint
        It also sets the max_length parameter, which is the maximum length of input sequences
        that the model can handle.
        """
        self.tokenizer = AutoTokenizer.from_pretrained('Alibaba-NLP/gte-Qwen2-7B-instruct', trust_remote_code=True)
        self.model = AutoModel.from_pretrained('Alibaba-NLP/gte-Qwen2-7B-instruct', trust_remote_code=True)
        self.model = self.model.to(device)
        self.model.eval()
        
        self.max_length = 8192
        return
    def __call__(self, input: Documents) -> Embeddings:
        """
        The __call__ method is the main entry point for generating embeddings. It takes a list of documents as input and returns a list of embeddings.
        It first defines a helper function called last_token_pool that extracts the embedding of the last token from the model's output. This is done by checking if the input sequence has left padding and selecting the appropriate token index.
        The input documents are tokenized using the tokenizer and passed through the model to obtain the last hidden states.
        The last_token_pool function is applied to the last hidden states to extract the final embeddings.
        The embeddings are converted to a list and returned.
        """
        
        def last_token_pool(last_hidden_states: Tensor,attention_mask: Tensor) -> Tensor:
            left_padding = (attention_mask[:, -1].sum() == attention_mask.shape[0])
            if left_padding:
                return last_hidden_states[:, -1]
            else:
                sequence_lengths = attention_mask.sum(dim=1) - 1
                batch_size = last_hidden_states.shape[0]
                return last_hidden_states[torch.arange(batch_size, device=last_hidden_states.device), sequence_lengths]
        embeddings = 0
        with torch.no_grad():
            for batch in iterate_batch(input,3):
                embedding=0
            
                batch_dict = self.tokenizer(batch, max_length=self.max_length, padding=True, truncation=True, return_tensors='pt').to(device)
                outputs = self.model(**batch_dict)
                embedding = last_token_pool(outputs.last_hidden_state, batch_dict['attention_mask'])
                
                if type(embeddings) is int:
                        embeddings = embedding
                else:
                    embeddings = torch.cat((embeddings,embedding),dim=0)
                torch.cuda.empty_cache()

        

        
        return embeddings.tolist()
    
    def preprocess_query(self,text_list):
        """
        The preprocess_query method is used to preprocess the input queries before generating embeddings.
        It defines a task description and a helper function called get_detailed_instruct that appends the task description to each query.
        The method applies the get_detailed_instruct function to each query in the input list and returns the preprocessed queries.
        Overall, this code provides a convenient way to use a pre-trained transformer model for generating document embeddings in the context of a vector search engine built with ChromaDB.        
        """
        
        task = 'Given a web search query, retrieve relevant passages that answer the query'
        def get_detailed_instruct(task_description: str, query: str) -> str:
            return f'Instruct: {task_description}\nQuery: {query}'

        text_list = [get_detailed_instruct(task, text) for text in text_list]
        return text_list

### Load vector database for kaggle

In [12]:
device = 'cuda'
model_embed = TransformerEmbeddingFunction_Qween()

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

Loading checkpoint shards:   0%|          | 0/7 [00:00<?, ?it/s]

In [13]:
all_results_hot = []
all_results_vote = []
all_results_active = []

In [14]:
metrics = {}

In [15]:
model_name = "qween"

In [16]:
load_time = 0
search_time = 0

In [17]:
# client.delete_collection("seach_db_vote")
# client.delete_collection("seach_db_active")
# client.delete_collection("seach_db_hot")

In [18]:
import chromadb
client = chromadb.Client()

In [19]:
import chromadb
import time

metrics[model_name] = {"active":{},"vote":{},"hot":{}}

client = chromadb.Client()

collection_vote = client.create_collection("seach_db_vote",get_or_create=False,embedding_function=model_embed)
collection_active = client.create_collection("seach_db_active",get_or_create=False,embedding_function=model_embed)
collection_hot = client.create_collection("seach_db_hot",get_or_create=False,embedding_function=model_embed)
# collection = client.create_collection("test_seach_fb",embedding_function,get_or_create=True)

# load
load_time = time.time()
collection_vote.add(
    documents=list(data_vote['text']),
    ids=[str(i) for i in data_vote['id']]
)
load_time = time.time() - load_time
metrics[model_name]['vote']['load_time'] = load_time

load_time = time.time()
collection_active.add(
    documents=list(data_active['text']),
    ids=[str(i) for i in data_active['id']]
)
load_time = time.time() - load_time
metrics[model_name]['active']['load_time'] = load_time

load_time = time.time()
collection_hot.add(
    documents=list(data_hot['text']),
    ids=[str(i) for i in data_hot['id']]
)
load_time = time.time() - load_time
metrics[model_name]['hot']['load_time'] = load_time

In [20]:
search_time = time.time()
queries = list(search_data_index_vote['query name'].unique())
queries = model_embed.preprocess_query(queries)
results_vote = collection_vote.query(
    query_texts=queries, # Chroma will embed this for you
    n_results=40 # how many results to return
)
search_time = time.time() - search_time
metrics[model_name]['vote']['search_time'] = search_time

search_time = time.time()
queries = list(search_data_index_hot['query name'].unique())
queries = model_embed.preprocess_query(queries)
results_hot = collection_hot.query(
    query_texts=queries, # Chroma will embed this for you
    n_results=40 # how many results to return
)
search_time = time.time() - search_time
metrics[model_name]['hot']['search_time'] = search_time

search_time = time.time()
queries = list(search_data_index_active['query name'].unique())
queries = model_embed.preprocess_query(queries)
results_active = collection_active.query(
    query_texts=queries, # Chroma will embed this for you
    n_results=40 # how many results to return
)
search_time = time.time() - search_time
metrics[model_name]['active']['search_time'] = search_time

client.delete_collection("seach_db_vote")
client.delete_collection("seach_db_active")
client.delete_collection("seach_db_hot")

In [21]:
ask_dataset1

DatasetDict({
    test: Dataset({
        features: ['query', 'positive', 'negative', 'responce', 'target'],
        num_rows: 375
    })
})

### load vector base for ask ubuntu

In [22]:
import chromadb
import time

metrics2[model_name] = {"ubuntu":{}}

client = chromadb.Client()

collection_ubuntu = client.create_collection("seach_db_ubuntu",get_or_create=False,embedding_function=model_embed)
# collection = client.create_collection("test_seach_fb",embedding_function,get_or_create=True)

# load
load_time = time.time()
collection_vote.add(
    documents=list(ask_dataset1['responce'])
)
load_time = time.time() - load_time
metrics[model_name]['vote']['load_time'] = load_time

NameError: name 'metrics2' is not defined

In [ ]:
search_time = time.time()
queries = list(search_data_index_vote['query name'].unique())
queries = model_embed.preprocess_query(queries)
results_vote = collection_vote.query(
    query_texts=queries, # Chroma will embed this for you
    n_results=40 # how many results to return
)
search_time = time.time() - search_time
metrics[model_name]['vote']['search_time'] = search_time

client.delete_collection("seach_db_hot")

## Evaluation

In [23]:
import sys
sys.path.insert(0, '../../scripts/')

In [ ]:
from evaluation import evaluate_algs

In [27]:
metrics[model_name]['vote']['metrics'] = evaluate_algs(results_vote,search_data_index_vote,column_name='rating')
metrics[model_name]['active']['metrics'] = evaluate_algs(results_active,search_data_index_active,column_name='rating_active')
metrics[model_name]['hot']['metrics'] = evaluate_algs(results_hot,search_data_index_hot,column_name='rating_hottest')

/home/danil/Text_search_with_LLM/sample/lib/python3.10/site-packages/ranx/metrics/recall.py:29: NumbaTypeSafetyWarning: unsafe cast from uint64 to int64. Precision may be lost.
  scores[i] = _recall(qrels[i], run[i], k, rel_lvl)

In [28]:
metrics[model_name]['vote']['metrics']

{'recall@10': 0.2288268800739379,
 'precision@10': 0.5782608695652174,
 'hits@10': 5.782608695652174,
 'map@10': 0.18642717258326347,
 'mrr@10': 0.7815217391304349,
 'ndcg@10': 0.390860835402863,
 'recall@40': 0.5568091062932357,
 'precision@40': 0.46141304347826095,
 'hits@40': 18.456521739130434,
 'map@40': 0.40018413730541147,
 'mrr@40': 0.7826659038901601,
 'ndcg@40': 0.48348643757160337}

In [29]:
metrics[model_name]['active']['metrics']

{'recall@10': 0.537359022556391,
 'precision@10': 0.531578947368421,
 'hits@10': 5.315789473684211,
 'map@10': 0.42852861319966573,
 'mrr@10': 0.7907894736842105,
 'ndcg@10': 0.5269621411880194,
 'recall@40': 0.8498746867167922,
 'precision@40': 0.2513157894736842,
 'hits@40': 10.052631578947368,
 'map@40': 0.6052456815282098,
 'mrr@40': 0.7953748006379586,
 'ndcg@40': 0.6456429264912914}

In [30]:
metrics[model_name]['hot']['metrics']

{'recall@10': 0.4683898803216984,
 'precision@10': 0.6249999999999999,
 'hits@10': 6.25,
 'map@10': 0.3976503272160739,
 'mrr@10': 0.8358585858585859,
 'ndcg@10': 0.44386353572764725,
 'recall@40': 0.8556416437098256,
 'precision@40': 0.32784090909090907,
 'hits@40': 13.113636363636363,
 'map@40': 0.6334733570628028,
 'mrr@40': 0.8369408369408369,
 'ndcg@40': 0.6110369817475614}